.header{
    @apply 
        bg-transparent 
         w-screen right-0 left-0 md:mx-auto mx-0 py-8 px-4 md:px-16 fixed top-0 z-50
        flex flex-row justify-between gap-12
        transition-all duration-700
}
.header[data-state="bigSticky"]{
    @apply absolute
}
.header[data-state="small"]{
    @apply bg-white w-8/12 mt-4 py-4 px-6 translate-y-6 rounded-3xl transition-all duration-700 shadow-md absolute
}
.header[data-state="scrollOut"]{
    @apply bg-white
}

.logo{
 @apply transition-all duration-700 start-0
    md:scale-100 scale-90
}
.logo[data-state="small"]{
    @apply scale-75 transition-all duration-700
}

.itemsContainer{
    @apply 
        flex gap-12 flex-nowrap
        flex-col md:flex-row
        right-[-100%]
        transition-all duration-700
        top-0 fixed
        md:static md:h-full md:w-fit md:bg-transparent
        h-screen  w-screen bg-[#F8F8EC]
        md:p-0
        px-12  py-64

}

.itemsContainer.show{
    @apply right-0
}

.button{
    @apply rounded-full py-6 transition-all duration-700 bg-linear-2-2
    
}
.button[data-state="small"]{
    @apply scale-0 transition-all duration-700  opacity-0
}